{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

{% for venue in venue_details %}

    <div class="col-md-4">
        <h2>{{ venue.name }}</h2>
        <p><a href="{{ venue.website}}"></a></p>
        <p>{{ venue.phone}}</p>
        <p>This venue has {{ venue.seats }} seats.</p>
        <h3>Location</h3>
        <p>{{ venue.address1 }}</p>
        <p>{{ venue.address2 }}</p>
        <p>{{ venue.address3 }}</p>
        <p>{{ venue.town }}</p>
        <p>{{ venue.postcode}}</p>
        <h3>Past Events</h3>
        <p><a class="btn btn-default" href="/venues/detail/{{ venue.id }}/events">Click here to see all events at this location &raquo;</a></p>
    </div>

{% endfor %}




{% endblock %}
